:root {
  --accent: #fab387;
  --headings: #94e2d5;
  --main-text: #cdd6f4;
  --highlight: #f2cdcd;
  --background: #1e1e2e;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  max-width: 800px;
  color: var(--main-text);
  background-color: var(--background);
}
h1,
h2 {
  color: var(--headings);
  margin-bottom: 0.5rem;
}
h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--accent);
  font-size: 2.5em;
}

h3 {
  font-size: 1em;
  margin: 0.5rem 0rem 0rem 1rem;
}

p {
  margin: 0.33rem 0rem 0rem 2rem;
}

a,
p a {
  text-decoration: none;
  font-style: italic;
  color: var(--main-text);
}

a:hover {
  color: var(--accent);
}

ul {
  margin-left: 0.5rem;
}

.social ul {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 0%;
}

.social li {
  /* display: inline-flex; */
  font-size: 0.85em;
  list-style: none;
  flex-basis: auto;
  /* text-align: center; */
}
.social a {
  text-decoration: none;
  font-style: normal;
  color: var(--main-text);
}
.social a:hover {
  text-decoration: none;
  font-style: normal;
  color: var(--accent);
  /* background-color: var(--highlight); */
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

footer {
  font-size: 0.8em;
  text-align: center;
  margin-top: 4rem;
}
